.columns-clinic > div {
  display: flex;
  flex-direction: column;
}

.columns-clinic img {
  width: 100%;
}

.columns-clinic > div > div {
  order: 1;
}

.columns-clinic > div > .columns-clinic-img-col {
  order: 0;
}

.columns-clinic > div > .columns-clinic-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns-clinic > div {
    align-items: flex-start;
    flex-direction: row;
    gap: 80px;
  }

  .columns-clinic > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-clinic h2 {
  font-size: 27px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.32px;
  margin: 0 0 16px 0;
}

.columns-clinic h3 {
  font-size: 11px;
  font-weight: 900;
  line-height: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  color: #000;
}

/* Yellow warning text style */
.columns-clinic p em,
.columns-clinic .warning-text {
  color: var(--warning-color);
  font-style: normal;
}
