/* stylelint-disable max-line-length */

/*
 * DCJ NSW Government Design System - Public Sans Font
 * Source: Google Fonts
 */

/* Public Sans - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');