/* stylelint-disable max-line-length */
/* Skoda Next - Headings (Bold) */
@font-face {
  font-family: "Skoda Next";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/skoda-next-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Skoda Next - Body (Medium) */
@font-face {
  font-family: "Skoda Next";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/skoda-next-medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Skoda Next - Body (Regular) */
@font-face {
  font-family: "Skoda Next";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/skoda-next-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Skoda Next - Semibold */
@font-face {
  font-family: "Skoda Next";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/skoda-next-semibold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
